@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');

body {
    background-color: rgb(134, 12, 172);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P";
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid rgb(0, 0, 0) 3px;
    background-color: #f1c821;
    width: 100vh;
    position: absolute;     
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px black;
}

#taskContainer {
    padding: 0;
    display: flex;
    justify-content: space-between;

}

#addContainer{
    padding: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

#input{
    height: 30px;
    width: 500px;
    border: solid 3px;
    font-family: "Press Start 2P";
    font-size: 10px;
    text-align: center;
    transition: 0.3s;
}

#input:hover{
    transform: translate(0, -5px);
    transition: 0.3s;
}

#btnAdd{
    height: 36px;
    width: 36px;
    background-color: #ffffff;
    font-size: medium;
    font-weight: bolder;
    border: solid 3px;
    transition: 0.3s;
}

#btnAdd:hover{
    transform: translate(0, -5px) ;
}

#list{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 30px;
    width: 90vh;
    margin-right: 40px;
    font-size: 12px;
    text-align: center;

}

li{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    text-align: center;
    min-height: 40px;
    height: auto;
    width: auto;
    border: solid 3px black;
    box-shadow: 5px 5px  black;
    transition: 0.3s;
}

li:hover {
    transform: translate(0, -5px) ;
    transition: 0.3s;
}

.checkbox{
    height: 25px;
    width: 25px;
    accent-color: #4CAF50;
    cursor: pointer;
    flex-shrink: 0;
    margin: 0;
    transition: 0.3s;
}

.checkbox:hover {
    background-color: #80e684;
    transform: translate(0, -5px);
    transition: 0.3s;
}

.container{
    width: 150vh;
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    padding: 10px;
    gap: 30px;
    justify-content: space-between;
}

.tarefaText{
    margin-top: 6px;
    margin-right: 0;
}

.subContainer {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 70px;
    flex-wrap: nowrap;
    margin-right: 10px;
}

.delBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    background-color: red;
    cursor: pointer;
    flex-shrink: 0;
    border: solid 1px grey;
    transition: 0.3s;
}

.delBtn:hover {
    background-color: rgb(238, 32, 32);
    transform: translate(0, -5px);
    transition: 0.3s;
}

.editBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    background-color: rgb(255, 251, 0);
    cursor: pointer;
    flex-shrink: 0;
    border: solid 1px grey;
    transition: 0.3s;
}

.editBtn:hover {
    background-color: #fad43b;
    transform: translate(0, -5px);
    transition: 0.3s;
}

.delIcon{
    margin-top: 2px;
    margin-right: 2px;
    color: rgb(0, 0, 0);
    font-size: 18px;
}


.editIcon {
    margin-top: 2px;
    margin-right: 2px;
    color: rgb(0, 0, 0);
    font-size: 18px;
}