@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');

body {
    background-color: rgb(134, 12, 172);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P";
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-left: solid rgb(40, 1, 48) 5px;
    background-color: #f1c821;
    border-top: solid rgb(40, 1, 48) 5px;
    width: 70vh;
    position: absolute;     
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
}

#taskContainer {
    padding: 0;
    display: flex;
    justify-content: space-between;

}

#addContainer{
    padding: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px
}

#input{
    height: 30px;
    border: solid 3px;
    font-family: "Press Start 2P";
    font-size: 10px;
    text-align: center;
}

#btnAdd{
    height: 36px;
    width: 36px;
    background-color: #ffffff;
    font-size: medium;
    font-weight: bolder;
    border: solid 3px;
    transition: 0.2s;
}

#btnAdd:hover{
    background-color: rgb(207, 207, 207);
    height: 40px;
    width: 40px;
    transition: 0.2s;
}

#list{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 30px;
    width: 60vh;
    margin-right: 40px;
    font-size: 12px;
    text-align: center;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    pad: 0;
    text-align: left;
    width:58vh;
}


.checkbox{
    height: 25px;
    width: 25px;
    accent-color: #4CAF50;
    cursor: pointer;
    flex-shrink: 0;
    margin: 0;
    margin-right: 40px ;
}

.checkbox:hover {
    background-color: #80e684;
}

.container{
    width: 150vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 90px;
}

.subContainer {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 70px;
    margin-left: auto;
    flex-wrap: nowrap;
}

.delBtn {
    height: 25px;
    width: 25px;
    background-color: red;
    cursor: pointer;
    flex-shrink: 0;
    border: solid 1px grey
}

.delBtn:hover {
    background-color: rgb(238, 32, 32);
}

.editBtn {
    height: 25px;
    width: 25px;
    background-color: rgb(255, 251, 0);
    cursor: pointer;
    flex-shrink: 0;
    border: solid 1px grey
}

.editBtn:hover {
    background-color: #fad43b;
}

